<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FF Website - Login</title>

    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <main class="login-container">

        <section class="login-card">

            <h1>Welcome Back</h1>
            <p class="subtitle">Login to your account</p>

            <form action="/login" method="post">

                <label for="email">Email</label>
                <input id="email" name="username" type="email" autocomplete="email" required maxlength="255">

                <label for="password">Password</label>
                <input id="password" name="password" type="password" autocomplete="current-password" required
                    minlength="8">

                <button type="submit">
                    Login
                </button>

            </form>


            <p class="register">
                Don't have an account?
                <a href="/register">Create account</a>
            </p>

        </section>

    </main>

</body>

</html>